@import "@fontsource/permanent-marker";
@tailwind;


@font-face {
  font-family: 'BlowBrush';
  src: url('/fonts/blowbrush.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-blowbrush {
  font-family: 'BlowBrush', sans-serif;
}

.text-standard {
  font-size: 20px;
}

.text-18 {
  font-size: 18px;
}

.text-16 {
  font-size: 16px;
}

.text-transparent {
  color: transparent;
}

.stroke-2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.stroke-black {
  -webkit-text-stroke-color: black;
}

.squiggly-underline {
  position: relative;
}

.squiggly-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 6px;
  border-bottom: 2px solid #125cfd;
}

.toast-con-barra::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #22c55e;
  animation: barra-progreso 5s linear forwards;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

@keyframes barra-progreso {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
