@import "tailwindcss";
@import "@fontsource/permanent-marker";


@font-face {
    font-family: 'BlowBrush';
    src: url('/fonts/blowbrush.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.font-blowbrush {
    font-family: 'BlowBrush', sans-serif;
}

.text-standard{
    font-size: 20px;
}

.text-transparent {
    color: transparent;
  }
  
  .stroke-2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
  }
  
  .stroke-black {
    -webkit-text-stroke-color: black;
  }
  
