---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <h1 class="text-7xl text-blue-100">About</h1>
  <p class="text-1xl">This is the about page.</p>
</Layout>
