---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import HeroWave from '../components/HeroWave.tsx';
import ReservarClase from '../components/Clases/ReservarClase.tsx';
import { checkSession } from '../../utils/checkSession';

const session = checkSession(Astro.request);
---

<Layout title="BIGFOOT : Clases">
  <main>
    <HeroWave
      imagen="/img/clases/portada.webp"
      alt="Montaña nevada"
      lineas={['ESCUELA DE', 'SKII Y SNOWBOARD']}
      subtitulo="APRENDE, MEJORA Y... ¡DISFRUTA!"
      href="#contenido"
    />
    <section id="contenido" class="relative w-full min-h-[88vh]">
      <ReservarClase client:only="react" session={JSON.stringify(session)} />
    </section>
  </main>
</Layout>
