---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import HeroWave from '../components/Clases/HeroWave';
import ReservarClase from '../components/Clases/ReservarClase';
---

<Layout title="BIGFOOT : Clases">
  <main>
    <HeroWave />
    <section id="contenido" class="relative w-full min-h-[88vh] ">
      <ReservarClase client:only="react" />
    </section>
  </main>
</Layout>
