---
import Layout from '../layouts/Layout.astro';
import StickyImageEffect from '../components/Sticky_Image_Effect/StickyImageEffect.tsx';
---

<Layout title="BIGFOOT : Snowboard y Ski">
  <main>
    <!-- NUEVA sección para controlar scroll y animación -->
    <section class="relative w-full min-h-[300vh]">
      <StickyImageEffect client:only="react" />
    </section>
  </main>
</Layout>