---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import StickyImageEffect from '../components/Sticky_Image_Effect/StickyImageEffect.tsx';
import ServicesContent from 'src/components/Sticky_Image_Effect/ServicesContent';
import ServiceCards from '../components/Sticky_Image_Effect/ServiceCards';
import InstructorCard from '../components/Sticky_Image_Effect/InstructorCards';
import MontanasCarousel from '../components/Sticky_Image_Effect/MontanasCarousel';
import ContactSection from '../components/Sticky_Image_Effect/ContactSection';
---

<Layout title="BIGFOOT : Snowboard y Ski">
  <main>
    <!-- Sección para controlar scroll y animación -->
    <section class="relative w-full min-h-[300vh]">
      <StickyImageEffect client:only="react" />
    </section>

    <!-- Sección de nombre de servicios -->
    <section class="relative mt-7 w-full">
      <ServicesContent client:only="react" />
    </section>

    <!-- Sección de cards de servicios -->
    <section class="relative mt-5 w-full">
      <ServiceCards client:only="react" />
    </section>

    <!-- Sección de instructores -->
    <section class="relative mt-6 w-full">
      <InstructorCard client:only="react" />
    </section>

    <!-- Sección de montañas -->
    <section class="relative mt-6 w-full">
      <MontanasCarousel client:only="react" />
    </section>

    <!-- Sección de contacto -->
    <section class="relative mt-6 w-full min-h-screen">
      <ContactSection client:only="react" />
    </section>
  </main>
</Layout>
