---
export const prerender = false; 
import Layout from '../layouts/Layout.astro';
import AuthWrapper from '../components/Auth/AuthWrapper.tsx';
import { checkSession } from '../../utils/checkSession';

const session = checkSession(Astro.request);
if (session.isLogged) {
  return Astro.redirect('/perfil');
}

---

<Layout title="BIGFOOT : Snowboard y Ski">
  <main>
    <section class="flex flex-col justify-center items-center text-center p-6 mt-21 mb-12">
      <AuthWrapper client:only="react" />
    </section>
  </main>
</Layout>
