---
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import { checkSession } from '../../utils/checkSession';
import PerfilContent from '../components/Perfil/PerfilContent'; // Asegúrate de que la ruta sea correcta

const session = checkSession(Astro.request);
if (!session.isLogged) {
  return Astro.redirect('/login');
}
---

<Layout title="BIGFOOT : Perfil">
  <main class="text-white min-h-screen pt-21 px-4">
    <PerfilContent client:only="react" session={JSON.stringify(session)} />
  </main>
</Layout>
